.button-cell {
    display: flex;
    gap: 5px;
}
.main-container {
    margin-top: 2px; 
}


  /* Center-align row headers and data */
.ag-cell, .ag-header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ag-cell, .ag-header-cell {
    white-space: pre-wrap; /* Allow wrapping of text */
    word-break: break-word; /* Break long words */
  }
  